.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #2aa198;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.btn-add svg {
    pointer-events: none;
}

.btn-add:hover {
    opacity: 0.8;
}

.btn-done, 
.btn-edit, 
.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
}

.btn-done {
    background-color: #2aa198;
}

.btn-edit {
    background-color: #2a83a1;
}

.btn-delete {
    background-color: #a12a2a;
}

.btn-done:hover,
.btn-edit:hover,
.btn-delete:hover {
    opacity: 1;
}

@media (width <= 900px) {
    .btn-add {
        width: 100%;
    }
}