

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-block: 30px;
}

.task-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-block: 10px; */
    gap: 6px;
    width: 60%;
    margin-block: 40px;
    /* background-color: #FFF; */
}

.task-form div {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 6px;
    
}

.input-text-task, 
.input-date-task {
    outline: none;
    border: 1px solid #2aa198;
    padding: 10px;
    background: transparent;
}

.btn-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 42px;
    height: 42px;
}

/* @media (width <= 1195px) {
    .task-form {
        display: flex;
        flex-wrap: wrap;
    }

    .task-form input {
        width: 300px;
        aspect-ratio: 3/1;
        flex-grow: 1;
    }
} */

@media (width <= 900px) {
    .task-form {
        display: flex;
        flex-direction: column;
    }

    .task-form div {
        display: flex;
        flex-direction: column;
    }
}

