.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2aa198;
    padding: 10px 15px;
    height: 60px;
    box-shadow: 3px 5px 6px rgba(0,0,0,0.3);
}

.logo {
    width: 150px;
    color: #fff;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.logo span {
    color: #000;
    font-weight: 400;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 150px);
}

.header .nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* margin-right: 30px; */
    height: 40px;
    gap: 10px;
}

.header .nav .nav-link .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
    
}

.header .nav .nav-link .link a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s all ease-in-out;
}

.header .nav .nav-link .link a:hover {
    text-decoration: underline;
    color: brown;
}

.btn-toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 3px;
    width: 40px;
    height:30px;
    background-color: #FFF;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;

}

.btn-toggle span {
    width: 100%;
    height: 3px;
    background-color: #2aa198;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: -300px;
    width: 70px;
    height: calc(100% - 50px);
    background: transparent;
    list-style: none;
    padding: 10px 10px 10px;
    cursor: pointer;
    z-index: 999;
}

.dropdown .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #2aa198;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.dropdown .link svg {
    font-size: 20px;
    color: #FFF;
}

.dropdown .link span a {
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
}

.dropdown .link span {
    display: block;
    position: absolute;
    width: 180px;
    left: -122px;
}

@media (width <= 900px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
    }

    .header .nav {
        position: relative;
        width: 40px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
    }

    .header .nav .nav-link {
        display: none;
    }

    .btn-toggle {
        display: flex;
    }

    .dropdown.show {
        left: 0;
        transition: all 0.2s ease-in;
    }

    .dropdown.show .link:hover {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 170px;

        justify-content: space-evenly;
    }

    .dropdown.show .link:hover span {
        display: flex;
        position: absolute;
        
    }

    .dropdown.show .link:hover {
        display: flex;
        justify-content: start;
        width: 180px;

        
    }

    .dropdown.show .link:hover span {
        display: flex;
        left: 40px;
    }
}