.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2aa198;
    padding: 10px 50px;
    box-shadow: 3px 5px 6px rgba(0,0,0,0.3);
}

.logo {
    width: 150px;
    color: #fff;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.logo span {
    color: #000;
    font-weight: 400;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 150px);
}

.header .nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* margin-right: 30px; */
    height: 40px;
    gap: 10px;
}

.header .nav .nav-link .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
    
}

.header .nav .nav-link .link a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s all ease-in-out;
}

.header .nav .nav-link .link a:hover {
    text-decoration: underline;
    color: brown;
}

.container-img-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
}

.container-img-profile img {
    width: 40px;
    height: 40px;
    border-radius:50% ;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 3px;
    width: 40px;
    height:30px;
    background-color: #FFF;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;

}

.btn-toggle span {
    width: 100%;
    height: 3px;
    background-color: #2aa198;
}

@media (width <= 900px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        transition: .3s ease-in;
    }

    .header .nav {
        position: relative;
        width: 40px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 40px);
    }
    .header .nav .nav-link {
        display: none;
    }

    .btn-toggle {
        display: flex;
    }
}